
body {
    margin: 0;
    padding: 0;
}
header {
    padding: 2vh 0vw 0vh 2vw;
    border-bottom: 1px solid black;
    min-width: 96vw;
    max-width: 96vw;
    min-height: 10vh;
    max-height: 10vh;
    font-size: 32px;
}

header span {
    float: right;
    margin-right: 2vw;
}

header a {
    font-size: 14px;
}

.sidebar {
    display: inline-block;
    min-width: 30vw;
    max-width: 30vw;
    border-right: 1px solid black;
    min-height: 79vh;
    max-height: 79vh;
    
}

main {
    display: inline-block;
    min-width: 69vw;
    min-height: 79vh;
    position: absolute;

}

footer {
    max-width: 96vw;
    min-width: 96vw;
    min-height: 6vh;
    max-height: 6vh;
    border-top: 1px solid black;
    padding: 2vh 0vw 0vh 2vw;
    bottom: 0;
    text-align: center;
}

form input {
    display: block;
    margin-bottom: 3vh;
}

form {
    margin: 5vh 0vw 0vh 24vw;
}